@model IEnumerable<PracticeActivityTraking.EmployeeToActivity>

@{
    ViewBag.Title = "Участники активности";
}

<h2>Участники активности</h2>

<p>
    @Html.ActionLink("Добавить участника", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.EventID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", new { id = item.ConnectID })
            </td>
        </tr>
    }
    @Html.ActionLink("Вернуться к списку активностей", "Index", "Activities")


</table>
