@model IEnumerable<PracticeActivityTraking.Activity>

@{
    ViewBag.Title = "Активности сотрудников";
}
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Активности сотрудников</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodifierActivity.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodifierStatusActivity.ActivityStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodifierActivity.Score)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodifierActivity.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodifierStatusActivity.ActivityStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodifierActivity.Score)
            </td>
            <td>
                @Html.ActionLink("Участники активности", "IndexIDUser","EmployeeToActivities", new { id = item.ActivityID },null)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Вернуться в главное меню", "Index", "Home")
</p>
